@import url('https //fonts.googleapis.com/css?family=Montserrat:400,600');

body{
    margin:0;
    font-family: 'Montserrat';
}
.container{
    text-align: center;
}
header{
    background-color: #A80038;
    display: flex;
    position: absolute;
    z-index: 20;
    width:100%;
}

p{
    font-size: .9em;
    line-height: 1.6em;
    line-break: auto;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.logo{
    width: 90px;
}

.logo-container{
    margin-left:10%;
    margin-right: 10%;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: .5em;
    padding-bottom: .5em;
}

nav {
    background: #B21C4E;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0%;
    padding-left: 2rem;
}
nav ul li{
    float : left;
    margin-right: 3rem;
    margin-top:0.5rem;
    margin-bottom: .5rem;

}

nav ul li a{
    color: #FFFFFF;
}
.selected{
    padding-top: 5px;
    background-color: #FD0054;
}

#login{
    background-color: #2B2024;
    padding: 0.3rem;
    margin-left: 6rem;
    margin-right: -1rem;
    margin-top: -.2em;
}

.intro-image{
    width:100%;
    position: relative;
    left:0;
    top: 0;
    z-index: 0;
}
.zone-info{
    background-color: #91777D;
    width: 40%;
    position: absolute;
    z-index: 10;
    top:20%;
    left:10%;
    opacity: 80%;
    border-radius: 10px;
}
.zone-events{
    background-color: #91777D;
    width: 30%;
    position: absolute;
    z-index: 10;
    top:30%;
    right:10%;
    opacity:80%;
    border-radius: 10px;
}
.zone-info h1{
    font-size: 300%;
    color: white;
}
.intro p{
    color: white;
    padding:0 4rem 3rem;
}
.zone-events h1{
    font-size: 200%;
    color: white;
}

.see-more{
    background-color: #7E696E;
    border-radius: 40px;
    width:150px;
    margin:0 30% 2rem;
    padding: .9rem 0;
}
.see-more a{
    color: white;
    font-size: 120%;
}
.scroll{
    position:absolute;
    top: 100%;
    left: 50%;
}

.white-box{
    background-color: white;
    position: absolute;
    top: 110%;
    padding-top: 10em;
    width: 100%;
}
.container2{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.about div h1{
    font-size: 200%;
}
.about div p{
    width:700px;
    margin-left: auto;
    margin-right: auto;
    line-height: 200%;
}
.signe-in{
    background-color: #EE0030;
    width:150px;
    margin:10% auto;
    border-radius: 89px;
    padding: .8rem 0;
}
.signe-in a{
    color: white;
    font-size: 130%;
}

footer{
    background-color: #500513;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.logo-footer{
    margin: 5% 5% 0;
    width: 100%;
}

.nav-footer{
    width:40%;
    margin-top: 3%;
    margin-left: 7%;
    margin-bottom: 5%;
}

.nav-footer ul li a{
    color: white;
}
.nav-footer ul li{
    margin-bottom: 2em;
    margin-left: 2em;
}

.contact-us{
    width: auto;
}

.contact-us span{
    color: white;
    font-size: 150%;
    margin-left: 2em;
}

.contact-us ul{
    display: flex;
    margin-top: 2em;
    margin-left: 4em;
}

.contact-us ul li {
    margin-right: 2em;
}
