.row {
}

.row.members_search {
  padding-top: 10px;
  border-top: .18rem solid #8a8fa0;
}

#cover{
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  padding: 96px 0 0;
  background-position: center center;
}
input {
  width:100%;
}
h1{
  font-size: 1.8rem;
}
@media only screen and (min-width : 768px){
  #cont{
    width:90%;
    margin-left: auto;
    margin-right: auto;
  }
  #close_nav{
    display: none;
  }
}
@media only screen and (max-width :767px){
    #cont{
      width: 100%;
    }
    #nav_bar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    width:0;
  }
  #close_nav{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 120%;
  }
}
